.panel
  .panel-heading
    border: 1px solid #ddd
    padding: 0

    >h2,h2,h3,h4,h5,h6
      float: left
    a
      display: block
      color: #666
      font-weight: 400
      padding: 20px 30px
      opacity: .7

    button
      float: right

    i
      margin-left: 10px

    i.rotated
      transform: rotate(-90deg)

  .panel-body
    border: 1px solid #ddd
    border-top: none

.app-textrow, .app-textarea, .app-img, .app-youtube
  margin: 15px 0

.app-textarea, .app-img, .app-youtube
  >label
    font-size: 18px
    font-weight: 400
    display: block
    margin: 0 0 15px 0
    width: 100%
    button
      float: right
      margin-top: 0px
      margin-bottom: 0px

    i
      padding: 15px
      background-color: #5ea7fd
      color: white
      border-radius: 50%
      margin-right: 15px

.app-textrow
  padding: 15px 0 30px 0
  border-bottom: 1px solid #D8D8D8

  label
    margin-right: 22.5px
    width: 100%
    button
      float: right
      margin-top: 0px
      margin-bottom: 0px

    i
      margin-right: 5px
      color: #5ea7fd

  input
    //width: 250px
    width: 100%
    padding: 5px 10px
    outline: none
    border: 1px solid #D8D8D8

    &:focus
      border: 1px solid #5ea7fd

.app-textarea

  textarea
    //width: 66%
    width: 100%
    //max-width: 800px
    padding: 10px
    resize: vertical
    border: 1px solid #D8D8D8
    height: 150px
    outline: none

    &:focus
      border: 1px solid #5ea7fd

.app-img
  img
    max-width: 100%
  &__file-btn
    padding: 30px
    background-color: #f5f5f5
    label
      padding: 20px
      border-radius: 50%
      border: 1px solid darken(#f5f5f5, 2%)
      color: #5ea7fd
      background-color: white

      i
        font-size: 32px

      &:hover
        color: #5ea7fd

      &:focus, &:active
        box-shadow: none

.app-youtube
  input
    margin-top: 15px
    width: 250px
    padding: 5px 10px
    outline: none
    border: 1px solid #D8D8D8

    &:focus
      border: 1px solid #5ea7fd



.remove-button, .down-button, .up-button
  margin: 15px
  background-color: transparent
  color: #666
  font-weight: 400
  border: none
  opacity: .7

  &:hover
    opacity: 1