<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="updateWebsite()" class="form-horizontal">
        <legend>Sections of {{website.name}}</legend>
        <div class="form-group" ng-repeat="section in website.sections">
          <label ng-attr-for="{{'section'+$index}}" class="col-sm-3">{{section.name}}</label>
          <div class="col-sm-7">
            <textarea ng-attr-name="{{'section'+$index}}" ng-attr-id="{{'section'+$index}}" class="form-control" readonly="readonly" ng-model="section.path"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
